<div
class="grid max-w-2xl grid-cols-1 py-4 mt- -mx-4 xl:-mx-12 sm:grid-cols-2 gap-y-10 sm:mx-auto lg:max-w-none lg:grid-cols-4 xl:gap-x-2"
>
<section class="flex flex-col px-6  lg:py-8 rounded-3xl bg-gray-50">
  <h3 class="mt-5 text-lg text-black font-display">Free Plan</h3>
  <p class="mt-2 text-sm text-gray-500">
    Best for testing out our tool.
  </p>
  <p
    class="order-first text-5xl font-light tracking-tight text-black font-display"
  >
   €0
  </p>
  <ul
    role="list"
    class="flex flex-col order-last mt-10 text-sm text-gray-600 gap-y-3"
  >
  <li class="flex items-center">
    <ion-icon
      class="w-4 h-4 md hydrated"
      name="checkmark-outline"
      role="img"
      aria-label="checkmark outline"></ion-icon><span class="ml-4">
      10 call minutes free</span
    >
  </li>
    <li class="flex items-center">
      <ion-icon
        class="w-4 h-4 md hydrated"
        name="checkmark-outline"
        role="img"
        aria-label="checkmark outline"></ion-icon><span class="ml-4"
        >Upload 20k words as knowledge</span
      >
    </li>
    <li class="flex items-center">
      <ion-icon
        class="w-4 h-4 md hydrated"
        name="checkmark-outline"
        role="img"
        aria-label="checkmark outline"></ion-icon><span class="ml-4"
        >Chat support</span
      >
    </li>
  </ul>
  <a
    class="inline-flex items-center justify-center w-full px-6 py-3 h-12 mt-8 text-center text-black transition duration-200 ease-in-out transform bg-white border hover:bg-gray-200 hover:border-gray-200 rounded-xl focus:outline-none border-gray-200"
    aria-label="Wannabe tier"
    href="https://app.callsupport.ai">Get started</a
  >
</section>
<section class="flex flex-col px-6 rounded-3xl lg:py-8 bg-gray-50">
  <h3 class="mt-5 text-lg text-black font-display">Starter</h3>
  <p class="mt-2 text-sm text-gray-500">
    Good for those trying to get there, but are too far from it.
  </p>
  <p
    class="order-first text-5xl font-light tracking-tight text-black font-display"
  >
  €19
  </p>
  <ul
    role="list"
    class="flex flex-col order-last mt-10 text-sm text-gray-600 gap-y-3"
  >
  <li class="flex items-center">
    <ion-icon
      class="w-4 h-4 md hydrated"
      name="checkmark-outline"
      role="img"
      aria-label="checkmark outline"></ion-icon><span class="ml-4">
        50 min/month </span
    >
  </li>
    <li class="flex items-center">
      <ion-icon
        class="w-4 h-4 md hydrated"
        name="checkmark-outline"
        role="img"
        aria-label="checkmark outline"></ion-icon><span class="ml-4"
        >1 free phone number </span
      >
    </li>
    <li class="flex items-center">
      <ion-icon
        class="w-4 h-4 md hydrated"
        name="checkmark-outline"
        role="img"
        aria-label="checkmark outline"></ion-icon><span class="ml-4">
          Upload 100k words as knowledge</span
      >
    </li>
    <li class="flex items-center">
      <ion-icon
        class="w-4 h-4 md hydrated"
        name="checkmark-outline"
        role="img"
        aria-label="checkmark outline"></ion-icon><span class="ml-4"
        >10 Concurrent Calls </span
      >
    </li>
    <li class="flex items-center">
      <ion-icon
        class="w-4 h-4 md hydrated"
        name="checkmark-outline"
        role="img"
        aria-label="checkmark outline"></ion-icon><span class="ml-4"
        >Chat and Email support</span
      >
    </li>
    <li class="flex items-center">
      <ion-icon
        class="w-4 h-4 md hydrated"
        name="checkmark-outline"
        role="img"
        aria-label="checkmark outline"></ion-icon><span class="ml-4"
        >Analytics </span
      >
    </li>
  </ul>
  <a
    class="inline-flex items-center justify-center w-full px-6 py-3 h-12 mt-8 text-center text-black transition duration-200 ease-in-out transform bg-white border hover:bg-gray-200 hover:border-gray-200 rounded-xl focus:outline-none border-gray-200"
    aria-label="Wannabe tier"
    href="https://app.callsupport.ai">Get started</a
  >
</section>
<section
  class="flex flex-col order-first px-6 py-8 rounded-3xl sm:px-8 bg-black  lg:order-none"
>
  <h3 class="mt-5 text-lg text-white font-display">Pro</h3>
  <p class="mt-2 text-sm text-accent-100">
    Best for growing companies or those who need some help.
  </p>
  <p
    class="order-first text-5xl font-light tracking-tight text-white font-display"
  >
   €49
  </p>
  <ul
    role="list"
    class="flex flex-col order-last mt-10 text-sm text-white gap-y-3"
  >
  <li class="flex items-center">
    <ion-icon
      class="w-4 h-4 md hydrated"
      name="checkmark-outline"
      role="img"
      aria-label="checkmark outline"></ion-icon><span class="ml-4"
      >140 min/month </span
    >
  </li>
    <li class="flex items-center">
      <ion-icon
        class="w-4 h-4 md hydrated"
        name="checkmark-outline"
        role="img"
        aria-label="checkmark outline"></ion-icon><span class="ml-4"
        >3 free phone numbers </span
      >
    </li>

    <li class="flex items-center">
      <ion-icon
        class="w-4 h-4 md hydrated"
        name="checkmark-outline"
        role="img"
        aria-label="checkmark outline"></ion-icon><span class="ml-4"
        >Upload 200k words as knowledge </span
      >
    </li>
    <li class="flex items-center">
      <ion-icon
        class="w-4 h-4 md hydrated"
        name="checkmark-outline"
        role="img"
        aria-label="checkmark outline"></ion-icon><span class="ml-4"
        >10 Concurrent Calls </span
      >
    </li>
    <li class="flex items-center">
      <ion-icon
        class="w-4 h-4 md hydrated"
        name="checkmark-outline"
        role="img"
        aria-label="checkmark outline"></ion-icon><span class="ml-4"
        >Priority support </span
      >
    </li>
    <li class="flex items-center">
      <ion-icon
        class="w-4 h-4 md hydrated"
        name="checkmark-outline"
        role="img"
        aria-label="checkmark outline"></ion-icon><span class="ml-4">
        Set up for you</span
      >
    </li>
    <li class="flex items-center">
      <ion-icon
        class="w-4 h-4 md hydrated"
        name="checkmark-outline"
        role="img"
        aria-label="checkmark outline"></ion-icon><span class="ml-4"
        >Analytics </span
      >
    </li>
  </ul>
  <a
    class="inline-flex items-center justify-center w-full px-6 py-3 h-12 mt-8 text-center text-black transition duration-200 ease-in-out transform bg-white border-2 border-white hover:bg-transparent hover:border-white rounded-xl hover:text-white focus:outline-none"
    aria-label="Indie hacker tier"
    href="https://app.callsupport.ai">Get started</a
  >
</section>
<section class="flex flex-col px-6 rounded-3xl lg:py-8 bg-gray-50">
  <h3 class="mt-5 text-lg text-black font-display">Growth</h3>
  <p class="mt-2 text-sm text-gray-500">
    For teams, needing top performance.
  </p>
  <p
    class="order-first text-5xl font-light tracking-tight text-black font-display"
  >
    €375
  </p>
  <ul
    role="list"
    class="flex flex-col order-last mt-10 text-sm text-gray-600 gap-y-3"
  >
    <li class="flex items-center">
      <ion-icon
        class="w-4 h-4 md hydrated"
        name="checkmark-outline"
        role="img"
        aria-label="checkmark outline"></ion-icon><span class="ml-4"
        >1500 min/month</span
      >
    </li>
    <li class="flex items-center">
      <ion-icon
        class="w-4 h-4 md hydrated"
        name="checkmark-outline"
        role="img"
        aria-label="checkmark outline"></ion-icon><span class="ml-4">
          Unlimited Voice Agents </span
      >
    </li>
    <li class="flex items-center">
      <ion-icon
        class="w-4 h-4 md hydrated"
        name="checkmark-outline"
        role="img"
        aria-label="checkmark outline"></ion-icon><span class="ml-4"
        >10 Concurrent Calls </span
      >
    </li>
    <li class="flex items-center">
      <ion-icon
        class="w-4 h-4 md hydrated"
        name="checkmark-outline"
        role="img"
        aria-label="checkmark outline"></ion-icon><span class="ml-4"
        >Analytics</span
      >
    </li>
    <li class="flex items-center">
      <ion-icon
        class="w-4 h-4 md hydrated"
        name="checkmark-outline"
        role="img"
        aria-label="checkmark outline"></ion-icon><span class="ml-4">
        24 months data</span
      >
    </li>
  </ul>
  <a
  class="inline-flex items-center justify-center w-full px-6 py-3 h-12 mt-8 text-center text-black transition duration-200 ease-in-out transform bg-white border hover:bg-gray-200 hover:border-gray-200 rounded-xl focus:outline-none border-gray-200"
  aria-label="Big fish tier"
  href="https://zcal.co/i/cL7eACvt"
  target="_blank" 
  rel="noopener noreferrer"
>
  Get started
</a>

</section>

</div>
