<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div
      class="grid grid-cols-1 gap-4 mt-6 items-center list-none lg:grid-cols-2 lg:gap-24">
      <div class="text-center lg:text-left">
        <div>
          <p
            class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display">
            Used by 100+ teams
          </p>
          <p class="text-base mt-4 text-gray-500">
            Used by 100+ teams who create Voice Agents at scale. 100s of usecases from Ecommerce, Clinics, Dentists, Healthcare, Real State, Solar, Car Dealership, Restaurant
          </p>
        </div>
      </div>
      <div
        class="lg:mt-0 mt-12 h-full hidden lg:block rounded-3xl overflow-hidden border border-gray-200">
        <div class="bg-gray-100 p-8 rounded-2xl overflow-hidden">
          <img
            alt="Lexingtøn thumbnail"
            class="border border-gray-200 lg:rounded-3xl object-cover rounded shadow-2xl"
            src="images/compressed/Use casess Image with bg-min.png"  
          />
        </div>
      </div>
    </div>
    <div
      class="grid grid-cols-1 gap-4 mt-6 items-center list-none lg:grid-cols-2 lg:gap-24">
    
      <div
        class="lg:mt-0 mt-12 h-full hidden lg:block rounded-3xl overflow-hidden border border-gray-200">
        <div class="bg-gray-100 p-8 rounded-2xl overflow-hidden">
          <img
            alt="Lexingtøn thumbnail"
            class="border border-gray-200 lg:rounded-3xl object-cover rounded shadow-2xl"
            src="images/compressed/Languages  Image without bg-min.png"  
          />
        </div>
      </div>
      <div class="text-center lg:text-right">
        <div>
          <p
            class="text-4xl tracking-tight text-left font-medium text-black md:text-5xl font-display">
            Used by 100+ Teams to Create Voice Agents at Scale
          </p>
          <p class="text-base mt-4 text-left text-gray-500">
            Hundreds of use cases from E-commerce, Clinics, Dentists, Healthcare, Real Estate, Solar, Car Dealerships, and Restaurants.Featuring diverse accents and styles tailored to meet your needs.<a href="/ai-voice-demo" class="text-accent-500">Explore Now</a>
          </p>
        </div>
      </div>
    </div>
    <div class="mt-24 w-full gap-12 grid grid-cols-1 lg:gap-24 lg:grid-cols-3">
      <div>
        <div class="gap-3 lg:inline-flex lg:items-center">
          <div
            class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
            <img src="/images/svgs/Ecommerce.svg" alt="AI Receptionist" />
          
          </div><p
            class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
          Ecommerce
          </p>
        </div><p class="text-gray-500 text-sm mt-4">
          Everything I build is keyboard accessible, and I meticulously write
          the markup to deliver the best screenreader experience.
        </p>
      </div><div>
        <div class="gap-3 lg:inline-flex lg:items-center">
          <div
            class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
            <img src="/images/svgs/healthcare.svg" alt="AI Receptionist" />
          </div><p
            class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
            Healthcare
          </p>
        </div><p class="text-gray-500 text-sm mt-4">
          I tested the template in the latest versions of all browsers to handle
          lots of edge-cases you might encounter.
        </p>
      </div><div>
        <div class="gap-3 lg:inline-flex lg:items-center">
          <div
            class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
            <img src="/images/svgs/Real estate.svg" alt="AI Receptionist" />
          </div><p
            class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
            Real State
          </p>
        </div><p class="text-gray-500 text-sm mt-4">
          The template is ready for production and can be deployed anywhere
          static websites can, such as Vercel, Netlify, or GitHub Pages,..
        </p>
      </div>
    </div>
  </div>
</section>
