---
import RadialCard  from '../vapi/RadialCard'
---

<!-- HTML Markup -->

<div class="min-h-[10vh] flex flex-col text-center  text-gray-800">
  <!-- Header Section -->

  <div class="w-full flex justify-center mb-">
    <RadialCard client:load />
  </div>

 
</div>



