---
import BaseLayout from "../layouts/BaseLayout.astro";
import Affiliate from "../components/infopages/Affiliate.astro";

---

<head>
  <title>Affiliate </title>
</head>

<BaseLayout>

  <Affiliate />

</BaseLayout>
