---
import BaseLayout from "../layouts/BaseLayout.astro";
import Service from "../components/infopages/products/Service.astro";

---

<head>
  <title>Ai Answering Service </title>
</head>

<BaseLayout>

  <Service />

</BaseLayout>
