---
import BaseLayout from "../layouts/BaseLayout.astro";
import Service from "../components/infopages/products/Service.astro";

---

<head>
  <title>AI Answering Service get 24/7 Virtual Receptionists for Your Business  </title>
  <meta name="description" content="Get a reliable and affordable AI answering service for your business. Our solutions offer 24/7 availability." />
</head>

<BaseLayout>

  <Service />

</BaseLayout>
