---
import BaseLayout from "../layouts/BaseLayout.astro";
import Concierge from "../components/infopages/products/Concierge.astro";

---

<head>
  <title>Ai Concierge  </title>
</head>

<BaseLayout>

  <Concierge />

</BaseLayout>
