---
import BaseLayout from "../layouts/BaseLayout.astro";
import Calculator from "../components/global/Calculator.jsx";

---
<head>
  <title>Blog </title>
</head>
<BaseLayout>

  <Calculator client:load />

</BaseLayout>
