---
import BaseLayout from "../layouts/BaseLayout.astro";
import DealerShip from "../components/infopages/usecase/DealerShip.astro";

---

<head>
  <title>AI Phone Agents to Boost Your Car Dealership's Growth</title>
   <meta name="description" content="Transform your dealership with AI-driven support that engages leads, follows up on inquiries, and captures missed opportunities" />
</head>


<BaseLayout>

  <DealerShip />

</BaseLayout>
