---
import BaseLayout from "../layouts/BaseLayout.astro";
import DealerShip from "../components/infopages/usecase/DealerShip.astro";

---

<head>
  <title>Usecase | DealerShip </title>
</head>


<BaseLayout>

  <DealerShip />

</BaseLayout>
