---
import BaseLayout from "../layouts/BaseLayout.astro";
import Main from "../components/gabber/main.astro";

---
<head>
  <title>AIVoices v3 Demo </title>
</head>
<BaseLayout>

  <Main client:load />

</BaseLayout>
