---
import BaseLayout from "../layouts/BaseLayout.astro";
import Gabber from "../components/gabber/gabber.astro";
import Demo from "../components/gabber/components/Demo.tsx";

---
<head>
  <title>AIVoices v3 Demo </title>
</head>
<BaseLayout>

  <!-- <Gabber client:load /> -->
  <Demo client:load />
  
</BaseLayout>
