---
import BaseLayout from "../layouts/BaseLayout.astro";
import AIVoices from "../components/infopages/products/AIVoices.astro";

---
<head>
  <title>AIVoices  </title>
</head>
<BaseLayout>

  <AIVoices  />

</BaseLayout>
