---
import BaseLayout from "../layouts/BaseLayout.astro";
import Ecomerece from "../components/infopages/usecase/Ecomerece.astro";

---
<head>
  <title>AI Phone Agents to Revolutionize eCommerce Support</title>
   <meta name="description" content=" Elevate your eCommerce business with AI-powered virtual agents that handle customer inquiries, order tracking, and follow-ups effortlessly." />
</head>


<BaseLayout>

  <Ecomerece />

</BaseLayout>
