---
import BaseLayout from "../layouts/BaseLayout.astro";
import Ecommerce from "../components/infopages/usecase/Ecommerce.astro";

---
<head>
  <title>AI Phone Agents for Ecommerce Stores Online - CallSupport</title>
   <meta name="description" content=" AI Phone Agents for Ecommerce Stores. Boost sales, improve customer service, and automate your phone operations 24/7." />
</head>


<BaseLayout>

  <Ecommerce />

</BaseLayout>
