---
import BaseLayout from "../layouts/BaseLayout.astro";
import Ecomerece from "../components/infopages/usecase/Ecomerece.astro";

---

<head>
  <title>Usecase | Ecomerece </title>
</head>


<BaseLayout>

  <Ecomerece />

</BaseLayout>
