---
import BaseLayout from "../layouts/BaseLayout.astro";
import AIPhoneUINoMail from "../components/vapi/AIPhoneUINoMail.jsx";
---
<head>
  <title>Demo  </title>

</head>
<BaseLayout>

      <AIPhoneUINoMail />

</BaseLayout>