---
import BaseLayout from "../layouts/BaseLayout.astro";
import Enterprise from "../components/infopages/Enterprise.astro";

---
<head>
  <title>Usecase | Enterprise </title>
</head>



<BaseLayout>

  <Enterprise />

</BaseLayout>
