---
import BaseLayout from "../layouts/BaseLayout.astro";
import RealEstate from "../components/infopages/usecase/RealEstate.astro";

---
<head>
  <title>AI Phone Agents for Real Estate Industry - Voho</title>
   <meta name="description" content="AI Phone Agents for Real Estate. Automate lead generation, property showings, and customer support with AI-powered phone calls." />
</head>


<BaseLayout>

  <RealEstate />

</BaseLayout>
