---
import BaseLayout from "../layouts/BaseLayout.astro";
import RealEstate from "../components/infopages/usecase/RealEstate.astro";

---
<head>
  <title>Usecase | RealEstate</title>
</head>


<BaseLayout>

  <RealEstate />

</BaseLayout>
