---
import BaseLayout from "../layouts/BaseLayout.astro";
import Health from "../components/infopages/usecase/Health.astro";

---

<head>
  <title>Usecase | Health </title>
</head>

<BaseLayout>

  <Health />

</BaseLayout>
