---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/landing/Hero.astro";
import SectionOne from "../components/landing/SectionOne.astro";
import SectionTwo from "../components/landing/SectionTwo.astro";
import Testimonial from "../components/global/Testimonial.astro";
import Pricing from "../components/landing/Pricing.astro";
import Cta from "../components/global/Cta.astro";
---
<head>
  <title>Callsupport.ai </title>
  <meta name="description" content="Discover Callsupport.ai, your ultimate solution for seamless communication and efficient customer support. Explore our features today!" />
  <meta name="keywords" content="customer support, communication, support software, Callsupport.ai" />
  <meta name="author" content="Callsupport.ai Team" />
  <meta property="og:title" content="Callsupport.ai" />
  <meta property="og:description" content="Discover Callsupport.ai, your ultimate solution for seamless communication and efficient customer support." />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://callsupport.ai" />
  <meta property="og:image" content="https://callsupport.ai/images/hero-banner.jpg" />
</head>
<BaseLayout>

  <Hero />
  <SectionOne />
  <SectionTwo />
  <Testimonial />
  <Pricing />
  <Cta />

</BaseLayout>
