---
import BaseLayout from "../layouts/BaseLayout.astro";
import Privacy from "../components/infopages/Privacy.astro";

---
<head>
  <title>Privacy </title>
</head>
<BaseLayout>
  <Privacy />
</BaseLayout>
