---
import BaseLayout from "../layouts/BaseLayout.astro";
import Receptionist from "../components/infopages/products/Receptionist.astro";

---
<head>
  <title>Best AI Receptionist | Improve Customer Service Efficiency </title>
  <meta name="description" content="Streamline your customer service with the best AI Receptionist. Our intelligent system handles calls efficiently, freeing up your team to focus on more important tasks." />
</head>
<BaseLayout>
  <Receptionist />
</BaseLayout>
