---
import BaseLayout from "../layouts/BaseLayout.astro";
import Receptionist from "../components/infopages/products/Receptionist.astro";

---
<head>
  <title>AI Receptionist </title>
</head>
<BaseLayout>
  <Receptionist />
</BaseLayout>
