---
import BaseLayout from "../layouts/BaseLayout.astro";
import Recrutiment from "../components/infopages/usecase/Recrutiment.astro";

---

<head>
  <title>Usecase | Recrutiment</title>
</head>

<BaseLayout>

  <Recrutiment />

</BaseLayout>
