---
import BaseLayout from "../layouts/BaseLayout.astro";
import Recrutiment from "../components/infopages/usecase/Recrutiment.astro";

---

<head>
  <title>AI Phone Agents for Recruitment Processes - Voho  </title>
   <meta name="description" content="AI Phone Agents for Recruitment. Automate candidate screening, scheduling, and outreach with AI-powered phone calls." />
</head>


<BaseLayout>

  <Recrutiment />

</BaseLayout>
