---
import BaseLayout from "../layouts/BaseLayout.astro";
import Restaurant from "../components/infopages/usecase/Restaurant.astro";

---

<head>
  <title>AI Phone Agents to Optimize Recruitment Procedures</title>
   <meta name="description" content="Revolutionize your hiring process with AI-driven virtual agents that efficiently manage candidate screening, interview arrangements, and follow-up communications" />
</head>


<BaseLayout>

  <Restaurant />

</BaseLayout>
