---
import BaseLayout from "../layouts/BaseLayout.astro";
import Restaurant from "../components/infopages/usecase/Restaurant.astro";

---

<head>
  <title>Get best AI Phone Agents for Restaurants - Voho  </title>
   <meta name="description" content="Get the best AI Phone Agents for Restaurants. Automate your phone calls, improve customer service, and boost sales." />
</head>


<BaseLayout>

  <Restaurant />

</BaseLayout>
