---
import BaseLayout from "../layouts/BaseLayout.astro";
import Solar from "../components/infopages/usecase/Solar.astro";

---

<head>
  <title>AI Phone Agents to Optimize Solar Energy Services</title>
   <meta name="description" content="Transform your solar energy business by utilizing AI virtual agents that efficiently manage customer inquiries, arrange consultations, and conduct follow-ups effortlessly" />
</head>


<BaseLayout>

  <Solar />

</BaseLayout>
