---
import BaseLayout from "../layouts/BaseLayout.astro";
import Solar from "../components/infopages/usecase/Solar.astro";

---

<head>
  <title>Usecase | Solar</title>
</head>


<BaseLayout>

  <Solar />

</BaseLayout>
