---
import AllVoices from "../../global/AllVoices.jsx";
---

<section class="bg-g  mx-auto mt-4  justify-center text-gray-800">
    <div class="">
      <AllVoices client:load  />
    </div>

</section>