<section class="py-16 bg-white">
    <div class="container mx-auto px-4 text-center">
      <h2
        class="text-4xl tracking-tight font-semibold text-black md:text-5xl font-display mb-8"
      >
        Discover What Businesses Are Building with CallSupport
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <!-- Card 1 -->
        <div class="bg-white shadow-lg rounded-lg p-6">
          <img
            src="/images/compressed/3-min.png"
            alt="Automated appointment booking"
            class="w-full h-48 object-cover rounded-t-lg mb-4"
          />
          <h3 class="text-lg font-semibold leading-6 text-black font-display tracking-tight mb-2">
            Automated appointment booking
          </h3>
          <p class="text-gray-600 mb-4">
            AI phone assistants can book appointments with any live calendar and
            send out notifications. Return on investment is guaranteed.
          </p>
          <!-- <a
            href="#"
            class="text-black font-medium flex items-center justify-center"
          >
            View Details
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              class="w-4 h-4 ml-2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
            </svg>
          </a> -->
        </div>
        <!-- Card 2 -->
        <div class="bg-white shadow-lg rounded-lg p-6">
          <img
            src="/images/compressed/1-min.png"
            alt="Outbound Lead Qualification"
            class="w-full h-48 object-cover rounded-t-lg mb-4"
          />
          <h3 class="text-lg font-semibold leading-6 text-black font-display tracking-tight mb-2">
            Outbound Lead Qualification
          </h3>
          <p class="text-gray-600 mb-4">
            Enhance lead generation with AI that makes outbound calls to
            potential customers, asks qualifying questions, and gathers
            essential information.
          </p>
          <!-- <a
            href="#"
            class="text-black font-medium flex items-center justify-center"
          >
            View Details
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              class="w-4 h-4 ml-2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
            </svg>
          </a> -->
        </div>
        <!-- Card 3 -->
        <div class="bg-white shadow-lg rounded-lg p-6">
          <img
            src="/images/compressed/2-min.png"
            alt="Customer Feedback Collection"
            class="w-full h-48 object-cover rounded-t-lg mb-4"
          />
          <h3 class="text-lg font-semibold leading-6 text-black font-display tracking-tight mb-2">
            Customer Feedback Collection
          </h3>
          <p class="text-gray-600 mb-4">
            Automate post-call surveys to gather valuable customer feedback and
            improve services.
          </p>
          <!-- <a
            href="#"
            class="text-black font-medium flex items-center justify-center"
          >
            View Details
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              class="w-4 h-4 ml-2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
            </svg>
          </a> -->
        </div>
      </div>
    </div>
  </section>