<div class="min-w-screen flex items-center justify-center py-5">
  <div class="w-full bg-white px-5 py-16 md:py-24 text-gray-500">
    <div class="w-full max-w-6xl mx-auto">
      <div class="text-center max-w-xl mx-auto mb-8">
        <p
          class="text-4xl tracking-tight font-semibold text-black md:text-5xl font-display"
        >
          What people are saying.
        </p>
        <!-- <h3 class="text-xl mb-5 font-light">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3> -->
        <div class="text-center mb-10">
          <span class="inline-block w-1 h-1 rounded-full bg-indigo-500 ml-1"
          ></span>
          <span class="inline-block w-3 h-1 rounded-full bg-indigo-500 ml-1"
          ></span>
          <span class="inline-block w-40 h-1 rounded-full bg-indigo-500"></span>
          <span class="inline-block w-3 h-1 rounded-full bg-indigo-500 ml-1"
          ></span>
          <span class="inline-block w-1 h-1 rounded-full bg-indigo-500 ml-1"
          ></span>
        </div>
      </div>
      <div class="-mx-3 md:flex items-start">
        <div class="px-3 md:w-1/3">
          <div
            class="w-full mx-auto rounded-lg bg-white border border-gray-200 p-5 text-gray-500 font-light mb-6"
          >
            <div class="w-full flex mb-4 items-center">
              <div
                class="overflow-hidden rounded-full w-10 h-10 bg-gray-50 border border-gray-200"
              >
                <img src="/images/testimonials/sad.jpg" alt="" />
              </div>
              <div class="flex-grow pl-3">
                <h6 class="font-bold text-sm uppercase text-gray-600">
                  Saad Saeed
                </h6>
                <span class="text-sm"
                  >Co-founder and CEO of <span
                    class="text-accent-500 font-medium">Perplexity AI.</span
                  ></span
                >
              </div>
            </div>
            <div class="w-full">
              <p class="text-sm leading-tight">
                <span
                  class="text-lg leading-none italic font-bold text-gray-400 mr-1"
                  >"</span
                >I’ve explored several Voice AI platforms, and CallSupport
                stands out by a mile. Their solution is not only comprehensive
                but also incredibly user-friendly compared to anything else on
                the market. Setting up agents is a breeze, and they seamlessly
                integrate with any system you need. CallSupport has clearly
                designed their features with productivity in mind, enabling
                teams to have fully functional agents up and running from day
                one. It’s a game-changer for efficiency and effectiveness!<span
                  class="text-lg leading-none italic font-bold text-gray-400 ml-1"
                  >"</span>
              </p>
            </div>
          </div>
          <div
            class="w-full mx-auto rounded-lg bg-white border border-gray-200 p-5 text-gray-500 font-light mb-6"
          >
            <div class="w-full flex mb-4 items-center">
              <div
                class="overflow-hidden rounded-full w-10 h-10 bg-gray-50 border border-gray-200"
              >
                <img src="https://tse3.mm.bing.net/th?id=OIP.mFP5RPPHutH0lk82-E-4jAHaHa&w=474&h=474&c=7" alt="" />
              </div>
              <div class="flex-grow pl-3">
                <h6 class="font-bold text-sm uppercase text-gray-600">
                  Jonas Andrulis
                </h6>
                <span class="text-sm"
                  >Co-founder and CEO of <span
                    class="text-accent-500 font-medium">Aleph Alpha.</span
                  ></span
                >
              </div>
            </div>
            <div class="w-full">
              <p class="text-sm leading-tight">
                <span
                  class="text-lg leading-none italic font-bold text-gray-400 mr-1"
                  >"</span
                >CallSupport has revolutionized how we approach Voice AI in our
                customer operations. The platform's simplicity and powerful
                integrations allowed us to deploy fully functional agents in
                record time. The features are thoughtfully designed, enabling
                maximum productivity from day one. It’s a solution that truly
                understands the needs of modern businesses.<span
                  class="text-lg leading-none italic font-bold text-gray-400 ml-1"
                  >"</span>
              </p>
            </div>
          </div>
        </div>
        <div class="px-3 md:w-1/3">
          <div
            class="w-full mx-auto rounded-lg bg-white border border-gray-200 p-5 text-gray-500 font-light mb-6"
          >
            <div class="w-full flex mb-4 items-center">
              <div
                class="overflow-hidden rounded-full w-10 h-10 bg-gray-50 border border-gray-200"
              >
                <img src="images/testimonials/yasin.jpg" alt="" />
              </div>
              <div class="flex-grow pl-3">
                <h6 class="font-bold text-sm uppercase text-gray-600">
                  Yassin Baum
                </h6>
                <span class="text-sm">Software Co-Founder & CMO, <span class="text-accent-500 font-medium">Mailscale </span
                  ></span
                >
              </div>
            </div>
            <div class="w-full">
              <p class="text-sm leading-tight">
                <span
                  class="text-lg leading-none italic font-bold text-gray-400 mr-1"
                  >"</span
                >CallSupport redefines simplicity and efficiency in Voice AI
                platforms. Their tools are intuitive and effective, allowing us
                to focus on our core goals while their AI agents handle customer
                interactions with precision. It’s a brilliant solution for
                modern AI-driven companies.<span
                  class="text-lg leading-none italic font-bold text-gray-400 ml-1"
                  >"</span>
              </p>
            </div>
          </div>
          <div
            class="w-full mx-auto rounded-lg bg-white border border-gray-200 p-5 text-gray-500 font-light mb-6"
          >
            <div class="w-full flex mb-4 items-center">
              <div
                class="overflow-hidden rounded-full w-10 h-10 bg-gray-50 border border-gray-200"
              >
                <img src="https://tse2.mm.bing.net/th?id=OIP.ZeLXiItH36a7LJ51Q4paVQHaFk&w=356&h=356&c=7" alt="" />
              </div>
              <div class="flex-grow pl-3">
                <h6 class="font-bold text-sm uppercase text-gray-600">
                  Ilya Sutskever
                </h6>
                <span class="text-sm">
                  Co-founder, <span class="text-accent-500 font-medium"
                    >Safe Superintelligence Inc.</span
                  ></span
                >
              </div>
            </div>
            <div class="w-full">
              <p class="text-sm leading-tight">
                <span
                  class="text-lg leading-none italic font-bold text-gray-400 mr-1"
                  >"</span
                >CallSupport is the gold standard for Voice AI platforms. Their
                system is robust, their agents are highly capable, and their
                integration process is refreshingly straightforward. It’s a
                testament to how AI can be both powerful and practical.<span
                  class="text-lg leading-none italic font-bold text-gray-400 ml-1"
                  >"</span>
              </p>
            </div>
          </div>
        </div>
        <div class="px-3 md:w-1/3">
          <div
            class="w-full mx-auto rounded-lg bg-white border border-gray-200 p-5 text-gray-500 font-light mb-6"
          >
            <div class="w-full flex mb-4 items-center">
              <div
                class="overflow-hidden rounded-full w-10 h-9 bg-gray-50 border border-gray-200"
              >
                <img
                  src="images/testimonials/lawn.jpg"
                  alt=""
                />
              </div>
              <div class="flex-grow pl-3">
                <h6 class="font-bold text-sm uppercase text-gray-600">
                  Léon Lawrence
                </h6>
                <span class="text-sm">
                  Founder <span class="text-accent-500 font-medium"
                    >LawrenceEconomicsGmbH</span
                  ></span
                >
              </div>
            </div>
            <div class="w-full">
              <p class="text-sm leading-tight">
                <span
                  class="text-lg leading-none italic font-bold text-gray-400 mr-1"
                  >"</span
                >CallSupport is an incredible example of AI technology applied
                thoughtfully to solve real-world challenges. Their Voice AI
                agents are intuitive, efficient, and enhance customer engagement
                from day one.<span
                  class="text-lg leading-none italic font-bold text-gray-400 ml-1"
                  >"</span>
              </p>
            </div>
          </div>
          <div
            class="w-full mx-auto rounded-lg bg-white border border-gray-200 p-5 text-gray-500 font-light mb-6"
          >
            <div class="w-full flex mb-4 items-center">
              <div
                class="overflow-hidden rounded-full w-10 h-10 bg-gray-50 border border-gray-200"
              >
                <img src="https://tse1.mm.bing.net/th?id=OIP.okbDDW1D-c5kA2bdN67PsAHaJ1&w=474&h=474&c=7" alt="" />
              </div>
              <div class="flex-grow pl-3">
                <h6 class="font-bold text-sm uppercase text-gray-600">
                  Cancan Liu
                </h6>
                <span class="text-sm">
                  Co-founder & CEO <span class="text-accent-500 font-medium"
                    >allO</span
                  ></span
                >
              </div>
            </div>
            <div class="w-full">
              <p class="text-sm leading-tight">
                <span
                  class="text-lg leading-none italic font-bold text-gray-400 mr-1"
                  >"</span
                >CallSupport combines technical excellence with practical
                usability, making Voice AI adoption accessible for all
                businesses. Their seamless integration and reliable agents have
                set a new standard for efficiency in customer service.<span
                  class="text-lg leading-none italic font-bold text-gray-400 ml-1"
                  >"</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
