<section class="bg-white border-b border-black/5">
  <div class="w-full mx-auto md:px-12 px-8 max-w-7xl lg:px-16">
    <div
      x-data="{ open: false, useCaseOpen: false }"
      class="relative flex flex-col w-full py-5 mx-auto bg-white md:items-center md:justify-between md:flex-row md:px-6">
      <div class="flex flex-row items-center justify-between lg:justify-start">
        <a href="/" class="text-black inline-flex items-center gap-3">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" zoomAndPan="magnify" viewBox="0 0 375 374.999991" height="30" preserveAspectRatio="xMidYMid meet" version="1.0"><defs><g/></defs><rect x="-37.5" width="450" fill="#ffffff" y="-37.499999" height="449.999989" fill-opacity="1"/><rect x="-37.5" width="450" fill="#18181b" y="-37.499999" height="449.999989" fill-opacity="1"/><g fill="#ffffff" fill-opacity="1"><g transform="translate(74.327163, 302.482648)"><g><path d="M 130.171875 -230.90625 C 147.179688 -230.90625 163.914062 -227.414062 180.375 -220.4375 C 196.832031 -213.457031 210.84375 -204.082031 222.40625 -192.3125 L 188.71875 -152.40625 C 181.300781 -161.5625 172.414062 -168.8125 162.0625 -174.15625 C 151.707031 -179.5 141.40625 -182.171875 131.15625 -182.171875 C 113.050781 -182.171875 97.894531 -175.789062 85.6875 -163.03125 C 73.476562 -150.28125 67.375 -134.53125 67.375 -115.78125 C 67.375 -96.59375 73.476562 -80.566406 85.6875 -67.703125 C 97.894531 -54.835938 113.050781 -48.40625 131.15625 -48.40625 C 140.75 -48.40625 150.722656 -50.800781 161.078125 -55.59375 C 171.429688 -60.394531 180.644531 -66.9375 188.71875 -75.21875 L 222.734375 -39.25 C 210.304688 -26.601562 195.640625 -16.460938 178.734375 -8.828125 C 161.835938 -1.203125 144.992188 2.609375 128.203125 2.609375 C 93.753906 2.609375 65.082031 -8.617188 42.1875 -31.078125 C 19.289062 -53.535156 7.84375 -81.550781 7.84375 -115.125 C 7.84375 -148.050781 19.507812 -175.578125 42.84375 -197.703125 C 66.175781 -219.835938 95.285156 -230.90625 130.171875 -230.90625 Z M 130.171875 -230.90625 "/></g></g></g></svg>
          <span class="font-bold font-display">CallSupport</span>
        </a>
        <button
          @click="open = !open"
          class="inline-flex items-center justify-center p-2 text-gray-400 hover:text-black focus:outline-none focus:text-black md:hidden">
          <svg class="w-6 h-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
            <path
              :class="{'hidden': open, 'inline-flex': !open }"
              class="inline-flex"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path>
            <path
              :class="{'hidden': !open, 'inline-flex': open }"
              class="hidden"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <nav
        :class="{'flex': open, 'hidden': !open}"
        class="flex-col items-center flex-grow hidden md:pb-0 md:flex md:justify-end md:flex-row">
        <a
          class="px-2 lg:px-6 py-2 md:px-3 text-sm font-medium text-black hover:text-accent-400 lg:ml-auto"
          href="/#features">Features</a>
        <a
          class="px-2 lg:px-6 py-2 md:px-3 text-sm font-medium text-black hover:text-accent-400 lg:ml-auto"
          href="/affiliate">Affiliate</a>
        <a
          class="px-2 lg:px-6 py-2 md:px-3 text-sm font-medium text-black hover:text-accent-400"
          href="/#pricing">Pricing</a>
           <!-- Use Case Dropdown -->
        <div class="relative" @click.away="useCaseOpen = false">
          <button
            @click="useCaseOpen = !useCaseOpen"
            class="px-2 lg:px-6 py-2 md:px-3 text-sm font-medium text-black hover:text-accent-400 flex items-center">
            Use Cases
            <svg class="w-4 h-4 ml-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
          </button>
          <div
            x-show="useCaseOpen"
            class="absolute left-0 mt-2 w-48 bg-white border border-gray-200 rounded-md shadow-lg z-10"
            x-cloak>
            <a href="/estate" class="block px-4 py-2 text-sm text-black hover:bg-gray-100">Real Estate</a>
            <a href="/recruitment" class="block px-4 py-2 text-sm text-black hover:bg-gray-100">Recrutiment</a>
            <a href="/health" class="block px-4 py-2 text-sm text-black hover:bg-gray-100">Health</a>
            <a href="/solar" class="block px-4 py-2 text-sm text-black hover:bg-gray-100">Solar </a>
            <a href="/car-dealership" class="block px-4 py-2 text-sm text-black hover:bg-gray-100">Car Dearlership </a>
          </div>
        </div>
        <a
        href="/blog"
        class="px-2 lg:px-6 py-2 md:px-3 text-sm font-medium text-black hover:text-accent-400">
        Blog
      </a>
        <a
          class="px-2 lg:px-6 py-2 md:px-3 text-sm font-medium text-black hover:text-accent-400"
          href="/faq">Faq</a>

       
        <div class="inline-flex items-center gap-2 list-none lg:ml-auto">
          <a
            href="https://app.callsupport.ai/login"
            class="block px-4 py-2 mt-2 text-sm font-medium text-black md:mt-0 hover:text-accent-400 focus:outline-none focus:shadow-outline">
            Login
          </a>
          <a
            href="https://app.callsupport.ai/signup"
            class="inline-flex items-center h-8 justify-center px-4 py-2 text-sm font-medium text-black bg-gray-100 rounded-lg group focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 hover:bg-gray-50 active:bg-gray-200 active:text-accent-400 focus-visible:outline-black">
            Get Started
          </a>
        </div>
      </nav>
    </div>
  </div>
</section>
